<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RazorChat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <RazorChat.Properties.Settings>
            <setting name="BbsHostOrIp" serializeAs="String">
                <value />
            </setting>
            <setting name="ChatPort" serializeAs="String">
                <value>10005</value>
            </setting>
            <setting name="SysopUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="SysopPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SystemPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="UsernameSavedOnMain" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PasswordsSavedOnMain" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VisualPagingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AudioPagingEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExternalPagingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConnectToBbs" serializeAs="String">
                <value>disconnected</value>
            </setting>
            <setting name="PagerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NumberOfNodes" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="AudioPageFile" serializeAs="String">
                <value>Default_SBBS_syspage</value>
            </setting>
            <setting name="ExternalPageCommand" serializeAs="String">
                <value />
            </setting>
            <setting name="ExternalPageOptions" serializeAs="String">
                <value />
            </setting>
        </RazorChat.Properties.Settings>
    </userSettings>
</configuration>